In [1]:
import pandas as pd
import random
import numpy as np

ans = ['not at all', 'several days', 'more than half of the days', 'nearly everyday']

def select_ans():
    global ans
    
    #get the index of the value
    val = random.choice(ans)
    return val


dataDict = {}

for user in range(1,20000):
    ansList = []
    for reply in range(9):
        ansList.append(select_ans())
        
    dataDict.update({user: ansList})
        
    

df = pd.DataFrame(dataDict)

df = df.transpose()

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8
1,nearly everyday,several days,nearly everyday,more than half of the days,not at all,more than half of the days,nearly everyday,more than half of the days,more than half of the days
2,several days,nearly everyday,nearly everyday,several days,more than half of the days,nearly everyday,nearly everyday,not at all,more than half of the days
3,nearly everyday,nearly everyday,more than half of the days,nearly everyday,not at all,more than half of the days,more than half of the days,not at all,several days
4,several days,not at all,more than half of the days,not at all,several days,more than half of the days,several days,not at all,not at all
5,nearly everyday,not at all,several days,nearly everyday,more than half of the days,several days,not at all,more than half of the days,nearly everyday

In [4]:
df.describe()

,0,1,2,3,4,5,6,7,8
count,19999,19999,19999,19999,19999,19999,19999,19999,19999
unique,4,4,4,4,4,4,4,4,4
top,several days,more than half of the days,nearly everyday,not at all,nearly everyday,more than half of the days,nearly everyday,nearly everyday,nearly everyday
freq,5045,5104,5052,5173,5038,5052,5045,5069,5150

In [6]:
df.to_csv('mental_health_patients.csv', index=False)